@charset "UTF-8";

@font-face {
  font-family: Monz;
  font-display: swap;
  src: url("../fonts/Monz-069HexagonaBold.woff2") format("woff2"), url("../fonts/Monz-069HexagonaBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Monz;
  font-display: swap;
  src: url("../fonts/Monz-1500MegaRegular.woff2") format("woff2"), url("../fonts/Monz-1500MegaRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: Monz;
  font-size: 1rem;
  color: #f8f8f8;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: Monz;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
  line-height: 1.2;
  background-color: #303030;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 102.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-size: 2.5625rem;
  text-transform: uppercase;
}

.item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #303030;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding-bottom: 1.25rem;
}

.item-block::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 1.25rem;
  right: -1.25rem;
  width: calc(100% + 1.25rem);
  height: 100%;
  background-color: #FFFF00;
  opacity: 0;
  visibility: hidden;
}

.item-block.item-yellow::before {
  opacity: 1;
  visibility: visible;
}

.item-block__image-ibg {
  padding-bottom: 53.8461538462%;
  margin-bottom: 0.9375rem;
}

.item-block__title {
  font-size: 1.375rem;
}

.item-block__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-block__text {
  font-size: 0.9375rem;
}

.item-block__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-block__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-block__labels span {
  color: #B3B3B3;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  text-transform: uppercase;
}

.item-block__labels span:not(:first-child)::before {
  content: "•";
}

.link-button {
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9375rem 1.25rem;
  max-width: 32.5rem;
  width: 100%;
  background-color: #FF0;
  color: #030303;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  gap: 0.625rem;
}

.link-button span {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.link-button::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  background: url("../img/icons/arrow-right.svg") no-repeat center/cover;
  width: 1.5625rem;
  height: 0.9375rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  background-color: #303030;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header._header-scroll {
  background-color: rgba(48, 48, 48, 0.8);
}

.header._header-scroll .header__container {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.header__container {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 10;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24%;
          flex: 0 1 24%;
}

.menu__link {
  text-transform: uppercase;
  color: #F8F8F8;
  line-height: normal;
  white-space: nowrap;
}

.menu__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding: 0.3125rem;
}

.menu__arrow::before {
  content: "";
  background: url("../img/icons/arrow.svg") no-repeat center/cover;
  width: 0.75rem;
  height: 0.75rem;
}

.menu__arrow._spoller-active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu__sub-list {
  padding: 1.875rem;
}

.menu__sub-item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.menu__sub-link {
  text-transform: uppercase;
  color: #4B4B4B;
  font-size: 1.125rem;
  -webkit-transition: -webkit-text-decoration 0.3s ease 0s;
  transition: -webkit-text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s, -webkit-text-decoration 0.3s ease 0s;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header__item {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-open .actions-header__item {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.actions-header__item_fullscr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actions-header__item_fullscr::before {
  content: "";
  background: url("../img/icons/fullscreen.svg") no-repeat center/cover;
  width: 2.5rem;
  height: 2.5rem;
}

.actions-header__item_search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.actions-header__item_search::before {
  content: "";
  background: url("../img/icons/search.svg") no-repeat center/cover;
  width: 2.5rem;
  height: 2.625rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.actions-header__item_search::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  position: absolute;
  bottom: -0.625rem;
  left: 0;
  width: 0%;
  height: 0.1875rem;
  background-color: #FFFF00;
  -webkit-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.actions-header__item_search.open::before {
  background: url("../img/icons/search-open.svg") no-repeat center/cover;
}

.actions-header__item_search.open::after {
  width: 100%;
}

.search-form {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.5rem;
  height: 0rem;
  padding: 0;
  -webkit-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}

.search-form.open {
  padding-top: 2.5rem;
  height: 12.5rem;
  pointer-events: auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.search-form__title {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.open .search-form__title {
  opacity: 1;
  visibility: visible;
}

.search-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F8F8F8;
  padding-right: 0.3125rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.open .search-form__item {
  opacity: 1;
  visibility: visible;
}

.search-form__input {
  width: 100%;
  padding: 0.9375rem 1.25rem;
  background-color: #F8F8F8;
  outline: none;
}

.search-form__input::-webkit-input-placeholder {
  color: #CCCCCC;
}

.search-form__input::-moz-placeholder {
  color: #CCCCCC;
}

.search-form__input:-ms-input-placeholder {
  color: #CCCCCC;
}

.search-form__input::-ms-input-placeholder {
  color: #CCCCCC;
}

.search-form__input::placeholder {
  color: #CCCCCC;
}

.search-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-form__btn::before {
  content: "";
  background: url("../img/icons/search-button.svg") no-repeat center/cover;
  width: 2.8125rem;
  height: 2.8125rem;
}

.cart-header__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-header__icon::before {
  content: "";
  background: url("../img/icons/cart.svg") no-repeat center/cover;
  width: 3.75rem;
  height: 3.75rem;
}

.icon-menu {
  display: none;
}

.footer {
  padding-top: 1.25rem;
  padding-bottom: 3.75rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  font-size: 15px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}

.footer__copy {
  text-align: center;
}

.main-block {
  background-color: #f8f8f8;
}

.main-block__slider {
  position: relative;
}

.main-block__body {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 31.7073170732% 48.7804878049%;
  grid-template-columns: 31.7073170732% 48.7804878049%;
}

.main-block__image {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.main-block__image img {
  max-width: 100%;
}

.main-block__title {
  text-transform: uppercase;
  font-size: 2.5625rem;
  letter-spacing: 6.875rem;
}

.main-block__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.main-block__icon {
  margin-bottom: 2.5rem;
  width: 100%;
}

.main-block__title-bottom {
  text-transform: uppercase;
  font-size: 2.5625rem;
  letter-spacing: 0.9375rem;
}

.main-block__title-bottom:not(:last-child) {
  margin-bottom: 2.5rem;
}

.main-block__slider-arrows {
  pointer-events: auto;
  position: absolute;
  top: calc(50% - 3rem);
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-block__button {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
}

.slider-arrow {
  pointer-events: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-arrow__prev::before {
  content: "";
  background: url("../img/icons/slider-arrow.svg") no-repeat center;
  width: 3.3125rem;
  height: 6.0625rem;
}

.slider-arrow__next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider-arrow__next::before {
  content: "";
  background: url("../img/icons/slider-arrow.svg") no-repeat center;
  width: 3.3125rem;
  height: 6.0625rem;
}

.work-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work-block__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.work-block__items {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 3.75rem;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 5rem;
}

.work-block__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.m-log-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.m-log-block__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.m-log-block__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  margin-bottom: 5rem;
}

.m-log-block__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.shop-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop-block__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.shop-block__image-ibg {
  padding-bottom: 35.487804878%;
}

.shop-block__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-block__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.about-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  margin-bottom: 5rem;
}

.about-block__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.7073170732%;
          flex: 0 0 31.7073170732%;
}

.about-block__image img {
  max-width: 100%;
}

.about-block__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.subscribe-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe-block__body {
  max-width: 32.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe-block__icon {
  margin-bottom: 3.75rem;
}

.subscribe-block__text {
  font-size: 1.375rem;
}

.subscribe-block__text:not(:last-child) {
  margin-bottom: 2.5rem;
}

.subscribe-block__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.subscribe-block__input {
  font-size: 1.375rem;
  padding: 0.9375rem 1.25rem;
}

.subscribe-block__input::-webkit-input-placeholder {
  color: #CCC;
}

.subscribe-block__input::-moz-placeholder {
  color: #CCC;
}

.subscribe-block__input:-ms-input-placeholder {
  color: #CCC;
}

.subscribe-block__input::-ms-input-placeholder {
  color: #CCC;
}

.subscribe-block__input::placeholder {
  color: #CCC;
}

.subscribe-block__input:focus {
  outline: 1px solid #FF0;
}

.subscribe-block__button {
  color: #303030;
  font-size: 1.375rem;
  padding: 0.9375rem 1.25rem;
  background-color: #FF0;
  text-align: left;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

@media (min-width: 29.99875em) {
  .main-block__button {
    max-width: 15rem;
  }
}

@media (min-width: 47.99875em) {
  .work-block__item_big {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

@media (min-width: 75.06125em) {
  .header._header-scroll .menu__sub-list {
    top: 5.3125rem;
  }

  .menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60.9756097561%;
            flex: 0 0 60.9756097561%;
  }

  .menu__sub-list {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    z-index: 10;
    top: 6.5625rem;
    width: 15rem;
    left: 0;
    background-color: #F8F8F8;
    padding: 1.25rem;
    width: 100%;
    opacity: 0;
    visibility: hidden;
  }
}

@media (min-width: 104.375em) {
  .header__body {
    gap: 2.5rem;
  }

  .menu__list {
    gap: 2.5rem;
  }

  .menu__link {
    font-size: 2.5625rem;
  }

  .menu__arrow {
    margin-left: 1.5625rem;
  }

  .actions-header {
    gap: 3.125rem;
  }

  .main-block {
    padding-top: 18.75rem;
  }

  .main-block {
    padding-bottom: 8.75rem;
  }

  .main-block__body {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .work-block {
    padding-top: 5rem;
  }

  .work-block {
    padding-bottom: 5rem;
  }

  .m-log-block {
    padding-top: 5rem;
  }

  .m-log-block {
    padding-bottom: 5rem;
  }

  .shop-block {
    padding-top: 5rem;
  }

  .shop-block {
    padding-bottom: 16.875rem;
  }

  .shop-block__image-ibg {
    margin-bottom: 5rem;
  }

  .about-block {
    padding-top: 5rem;
  }

  .about-block {
    padding-bottom: 5rem;
  }

  .about-block__text {
    font-size: 2.8125rem;
  }

  .subscribe-block {
    padding-top: 13.75rem;
  }

  .subscribe-block {
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 75em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: #303030;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 12.5rem 0.9375rem 1.875rem 0.9375rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 10rem;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #303030;
    z-index: 5;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }

  .menu__item {
    width: 100%;
    max-width: 15rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__link {
    font-size: 2.25rem;
  }

  .menu__arrow::before {
    width: 1.25rem;
    height: 1.25rem;
  }

  .menu__sub-link {
    color: #f8f8f8;
  }

  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2.5rem;
            flex: 0 0 2.5rem;
    width: 2.5rem;
    height: 2.75rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.25rem;
    background-color: #f8f8f8;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.125rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.125rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .work-block__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 20em) {
  .header__body {
    gap: 0.9375rem;
  }

  .main-block {
    padding-top: 10rem;
  }

  .main-block {
    padding-bottom: 2.5rem;
  }

  .main-block__body {
    -webkit-column-gap: 0rem;
       -moz-column-gap: 0rem;
            column-gap: 0rem;
  }

  .work-block {
    padding-top: 2.5rem;
  }

  .work-block {
    padding-bottom: 2.5rem;
  }

  .m-log-block {
    padding-top: 2.5rem;
  }

  .m-log-block {
    padding-bottom: 2.5rem;
  }

  .shop-block {
    padding-top: 1.875rem;
  }

  .shop-block {
    padding-bottom: 3.75rem;
  }

  .shop-block__image-ibg {
    margin-bottom: 1.875rem;
  }

  .about-block {
    padding-top: 1.875rem;
  }

  .about-block {
    padding-bottom: 1.875rem;
  }

  .about-block__text {
    font-size: 1.25rem;
  }

  .subscribe-block {
    padding-top: 3.75rem;
  }

  .subscribe-block {
    padding-bottom: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .m-log-block__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 47.99875em) {
  .menu__list {
    gap: 0.625rem;
  }

  .menu__arrow {
    margin-left: 0.3125rem;
  }

  .actions-header {
    gap: 1.25rem;
  }

  .actions-header__item_fullscr {
    display: none;
  }

  .main-block__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .main-block__icon {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }

  .main-block__slider-arrows {
    display: none;
  }

  .work-block__items {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .about-block__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 29.99875em) {
  .title {
    font-size: 2.25rem;
  }

  .item-block::before {
    top: 0.625rem;
    right: -0.625rem;
    width: calc(100% + 0.625rem);
  }

  .item-block__title {
    font-size: 1.25rem;
  }

  .item-block__labels span {
    font-size: 0.875rem;
  }

  .header._header-scroll .header__container {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .header__container {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .header__logo img {
    width: 6.25rem;
  }

  .menu__body::before {
    height: 7.5rem;
  }

  .actions-header__item_search::before {
    width: 2.1875rem;
    height: 2.3125rem;
  }

  .actions-header__item_search::after {
    height: 0.125rem;
  }

  .search-form {
    row-gap: 1.25rem;
  }

  .search-form.open {
    padding-top: 1.25rem;
    height: 7.5rem;
  }

  .search-form__title {
    font-size: 1.875rem;
  }

  .search-form__input {
    padding: 0.625rem 0.9375rem;
  }

  .search-form__btn::before {
    width: 1.875rem;
    height: 1.875rem;
  }

  .cart-header__icon::before {
    width: 2.5rem;
    height: 2.5rem;
  }

  .icon-menu {
    height: 2.1875rem;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    height: 0.1875rem;
  }

  .main-block {
    padding-top: 8.125rem;
  }

  .subscribe-block__icon {
    margin-bottom: 1.875rem;
  }

  .subscribe-block__text {
    font-size: 1.125rem;
  }

  .subscribe-block__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .subscribe-block__form {
    gap: 1.25rem;
  }
}

@media (min-width: 20em) and (max-width: 104.375em) {
  .header__body {
    gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / ((84.375)));
  }

  .main-block {
    padding-top: calc(10rem + 8.75 * (100vw - 20rem) / ((84.375)));
  }

  .main-block {
    padding-bottom: calc(2.5rem + 6.25 * (100vw - 20rem) / ((84.375)));
  }

  .main-block__body {
    -webkit-column-gap: calc(0rem + 2.5 * (100vw - 20rem) / ((84.375)));
       -moz-column-gap: calc(0rem + 2.5 * (100vw - 20rem) / ((84.375)));
            column-gap: calc(0rem + 2.5 * (100vw - 20rem) / ((84.375)));
  }

  .work-block {
    padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / ((84.375)));
  }

  .work-block {
    padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / ((84.375)));
  }

  .m-log-block {
    padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / ((84.375)));
  }

  .m-log-block {
    padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / ((84.375)));
  }

  .shop-block {
    padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / ((84.375)));
  }

  .shop-block {
    padding-bottom: calc(3.75rem + 13.125 * (100vw - 20rem) / ((84.375)));
  }

  .shop-block__image-ibg {
    margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / ((84.375)));
  }

  .about-block {
    padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / ((84.375)));
  }

  .about-block {
    padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / ((84.375)));
  }

  .about-block__text {
    font-size: calc(1.25rem + 1.5625 * (100vw - 20rem) / ((84.375)));
  }

  .subscribe-block {
    padding-top: calc(3.75rem + 10 * (100vw - 20rem) / ((84.375)));
  }

  .subscribe-block {
    padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / ((84.375)));
  }
}

@media (min-width: 47.99875em) and (max-width: 104.375em) {
  .menu__list {
    gap: calc(0.625rem + 1.875 * (100vw - 47.99875rem) / ((56.37625)));
  }

  .menu__arrow {
    margin-left: calc(0.3125rem + 1.25 * (100vw - 47.99875rem) / ((56.37625)));
  }

  .actions-header {
    gap: calc(1.25rem + 1.875 * (100vw - 47.99875rem) / ((56.37625)));
  }
}

@media (min-width: 75em) and (max-width: 104.375em) {
  .menu__link {
    font-size: calc(2.25rem + 0.3125 * (100vw - 75rem) / ((29.375)));
  }
}

@media (any-hover: hover) {
  .link-button:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .link-button:hover span {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu__item:hover .menu__sub-list {
    visibility: visible;
    opacity: 1;
  }

  .menu__item:hover .menu__arrow {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .menu__sub-link:hover {
    text-decoration: underline;
  }

  .footer__link:hover {
    text-decoration: underline;
  }

  .footer__terms:hover {
    text-decoration: underline;
  }

  .subscribe-block__button:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}